/* ============================================================ *\

  #MAIN

  Author:  Ariel Alvarez
  Website: You are on it

/* ============================================================ */
/**
* CONTENTS
* 
* SECTIONS
* 
* 
* VAR
* 
* MIXINS
* 
* WIDGETS
* 
* SASS
* 
* THEMES
* 
* SRC
* 
* SECTIONS
* 
* WIDGETS
*
*/
@font-face {
  font-family: "Montserrat";
  src: url(/css/font/Montserrat-Regular.otf);
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 1rem;
}

/* line 11, sass/screen.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 2, sass/src/widgets/themes/AccordionPanel.scss */
.accordion-panel .accordion-panel-logo {
  width: 3.3rem;
  heigth: auto;
  margin: 0 10px;
}
/* line 8, sass/src/widgets/themes/AccordionPanel.scss */
.accordion-panel .title-link {
  display: table;
}
/* line 11, sass/src/widgets/themes/AccordionPanel.scss */
.accordion-panel .title-link > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 17, sass/src/widgets/themes/AccordionPanel.scss */
.accordion-panel .panel-body-content {
  padding-left: 10px;
}

@keyframes appear-from-left {
  /* line 3, sass/src/animations.scss */
  0% {
    opacity: 0;
    transform: translate3d(-40px, 0px, 0px);
  }

  /* line 9, sass/src/animations.scss */
  100% {
    opacity: 100%;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes appear-from-right {
  /* line 19, sass/src/animations.scss */
  0% {
    opacity: 0;
    transform: translate3d(40px, 0px, 0px);
  }

  /* line 25, sass/src/animations.scss */
  100% {
    opacity: 100%;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes appear {
  /* line 35, sass/src/animations.scss */
  0% {
    opacity: 0;
  }

  /* line 40, sass/src/animations.scss */
  100% {
    opacity: 100%;
  }
}

/* line 47, sass/src/animations.scss */
.in-view.appear {
  animation-name: appear;
  animation-duration: 5s;
}

/* line 52, sass/src/animations.scss */
.in-view.appear-from-left {
  position: relative;
  animation-name: appear-from-left;
  animation-duration: 2s;
}

/* line 59, sass/src/animations.scss */
.in-view.appear-from-right {
  position: relative;
  animation-name: appear-from-right;
  animation-duration: 2s;
}

/* line 12, sass/src/sections/CertificationsSection.scss */
.sections-certificationssection {
  background: #39afe1;
  color: white;
}
/* line 7, sass/src/sections/CertificationsSection.scss */
.sections-certificationssection .row {
  margin-bottom: 15px;
}

/* line 1, sass/src/sections/common.scss */
html {
  font-size: 18px;
  font-family: 'Montserrat', 'sans-serif';
  font-color: #404040;
}
/* line 6, sass/src/sections/common.scss */
html * {
  word-break: break-word;
}

/* Extra Small */
@media (max-width: 767px) {
  /* line 13, sass/src/sections/common.scss */
  html {
    font-size: 15px;
  }
}
/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 22, sass/src/sections/common.scss */
  html {
    font-size: 15px;
  }
}
/* line 31, sass/src/sections/common.scss */
#background-imgs, .black-screen {
  position: fixed;
  left: 0px;
  width: auto;
  height: auto;
  z-index: -2;
  width: 100%;
  top: -167px;
}

/* line 40, sass/src/sections/common.scss */
.black-screen {
  z-index: -1;
  background: black;
  width: 100%;
  height: 3000px;
  opacity: 0.8;
}

/* line 50, sass/src/sections/common.scss */
* {
  font-size: 1rem;
}

/* line 54, sass/src/sections/common.scss */
.initially-transparent {
  opacity: 0;
}

/* line 58, sass/src/sections/common.scss */
#content-container {
  position: relative;
}

/* line 62, sass/src/sections/common.scss */
.bold {
  font-weight: bold;
}

/* line 65, sass/src/sections/common.scss */
.section-header {
  margin-top: 15px;
  margin-bottom: 40px;
}
/* line 69, sass/src/sections/common.scss */
.section-header h2 {
  text-align: center;
  font-size: 3rem;
}

/* line 76, sass/src/sections/common.scss */
.navbar-brand {
  font-size: 1rem;
  height: auto;
}

/* line 81, sass/src/sections/common.scss */
h3 {
  font-size: 1.5rem;
}

/**[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}*/
/* line 95, sass/src/sections/common.scss */
.vertical-text {
  transform: rotate(-90deg);
  text-align: center;
}

/* line 7, sass/src/sections/CongressesSection.scss */
.sections-congressessection {
  background: #272727;
  color: white;
}

/* line 19, sass/src/widgets/EducationItem.scss */
.widgets-educationitem img {
  width: 90px;
  width: 5rem;
  height: 90px;
  height: 5rem;
}
/* line 24, sass/src/widgets/EducationItem.scss */
.widgets-educationitem .widget-row {
  display: table-row;
}
/* line 27, sass/src/widgets/EducationItem.scss */
.widgets-educationitem .widget-row > div {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

/* line 11, sass/src/sections/CoursesSection.scss */
.sections-coursessection {
  color: white;
}
/* line 13, sass/src/widgets/EducationItem.scss */
.sections-coursessection .widgets-educationitem {
  color: white;
}

/* line 19, sass/src/widgets/EducationItem.scss */
.widgets-educationitem img {
  width: 90px;
  width: 5rem;
  height: 90px;
  height: 5rem;
}
/* line 24, sass/src/widgets/EducationItem.scss */
.widgets-educationitem .widget-row {
  display: table-row;
}
/* line 27, sass/src/widgets/EducationItem.scss */
.widgets-educationitem .widget-row > div {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

/* line 11, sass/src/sections/EducationSection.scss */
.sections-educationsection {
  background: white;
}
/* line 4, sass/src/widgets/EducationItem.scss */
.sections-educationsection .widgets-educationitem {
  color: #8e8e8e;
}
/* line 6, sass/src/widgets/EducationItem.scss */
.sections-educationsection .widgets-educationitem .title {
  color: #404040;
}
/* line 6, sass/src/sections/EducationSection.scss */
.sections-educationsection .row {
  margin-bottom: 15px;
}

/* line 2, sass/src/sections/ExperienceSection.scss */
.sections-experiencesection .section-header {
  color: white;
}
/* line 6, sass/src/sections/ExperienceSection.scss */
.sections-experiencesection .bullet-box-container {
  margin-bottom: 20px;
}
/* line 11, sass/src/sections/ExperienceSection.scss */
.sections-experiencesection h3 {
  color: white;
}
/* line 15, sass/src/sections/ExperienceSection.scss */
.sections-experiencesection .widgets-bulletbox.separated {
  padding: 0 20px;
}
/* line 20, sass/src/sections/ExperienceSection.scss */
.sections-experiencesection .bullet-box-container:nth-of-type(3n).widgets-bulletbox h3 {
  background-color: #39AFE1;
}
/* line 27, sass/src/sections/ExperienceSection.scss */
.sections-experiencesection .bullet-box-container:nth-of-type(2n).widgets-bulletbox h3 {
  background-color: #33D192;
}

/* line 21, sass/src/sections/InfoSection.scss */
.sections-infosection {
  color: white;
  min-height: 600px;
}
/* line 6, sass/src/sections/InfoSection.scss */
.sections-infosection div.vertical-text {
  width: 200px;
  font-weight: bold;
}
/* line 11, sass/src/sections/InfoSection.scss */
.sections-infosection .info-table {
  table-layout: fixed;
  margin-right: auto;
  margin-left: auto;
}
/* line 16, sass/src/sections/InfoSection.scss */
.sections-infosection * {
  word-break: break-all;
}

/* line 10, sass/src/sections/ProjectSection.scss */
.sections-projectsection {
  background: white;
}
/* line 4, sass/src/sections/ProjectSection.scss */
.sections-projectsection .project {
  margin: 20px 0;
}

/* line 40, sass/src/sections/SkillsSection.scss */
.sections-skillssection {
  background: #272727;
  color: white;
  /* Medium Devices and up*/
}
/* line 9, sass/src/sections/SkillsSection.scss */
.sections-skillssection .theme-image {
  margin: 10px 0;
}
/* line 13, sass/src/sections/SkillsSection.scss */
.sections-skillssection .widget-skillitem {
  text-align: center;
}
/* line 17, sass/src/sections/SkillsSection.scss */
.sections-skillssection .skill-section > div {
  margin-bottom: 5px;
}
@media only screen and (min-width: 992px) {
  /* line 24, sass/src/sections/SkillsSection.scss */
  .sections-skillssection .skill-section > div {
    margin: 30px 0px;
    margin: 1.66667rem 0rem;
  }
}
/* line 30, sass/src/sections/SkillsSection.scss */
.sections-skillssection .skill-item-container {
  margin-bottom: 5px;
}
/* line 34, sass/src/sections/SkillsSection.scss */
.sections-skillssection .skill-section li {
  margin: 8px 0;
}

/* line 4, sass/src/widgets/BulletBox.scss */
.widgets-bulletbox h3 {
  text-align: center;
  padding: 20px;
}
/* line 9, sass/src/widgets/BulletBox.scss */
.widgets-bulletbox ul {
  color: white;
  padding: 0 10px;
}
/* line 14, sass/src/widgets/BulletBox.scss */
.widgets-bulletbox hr {
  margin: 0;
  padding: 0;
}
/* line 19, sass/src/widgets/BulletBox.scss */
.widgets-bulletbox li .text {
  padding: 20px 0;
}
/* line 23, sass/src/widgets/BulletBox.scss */
.widgets-bulletbox h3.blue {
  background-color: blue;
}
/* line 27, sass/src/widgets/BulletBox.scss */
.widgets-bulletbox h3.red {
  background-color: red;
}

/* line 19, sass/src/widgets/EducationItem.scss */
.widgets-educationitem img {
  width: 90px;
  width: 5rem;
  height: 90px;
  height: 5rem;
}
/* line 24, sass/src/widgets/EducationItem.scss */
.widgets-educationitem .widget-row {
  display: table-row;
}
/* line 27, sass/src/widgets/EducationItem.scss */
.widgets-educationitem .widget-row > div {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

/* line 19, sass/src/widgets/SkillItem.scss */
.widgets-skillitem {
  text-align: center;
}
/* line 6, sass/src/widgets/SkillItem.scss */
.widgets-skillitem img {
  width: 90px;
  width: 5rem;
  height: 90px;
  height: 5rem;
}
/* line 13, sass/src/widgets/SkillItem.scss */
.widgets-skillitem h3 {
  margin: 10px 0;
}
