@import 'var/mixins/font';
@import 'var/sections/common';
@mixin education-item-white-background(){
  .widgets-educationitem{
    color: $font-color-gray;
    .title{
      color: $font-color;
    }
  }
}

@mixin education-item-dark-background(){
  .widgets-educationitem{
    color: white;    
  }
}

@mixin widgets-educationitem() {
    img {
        @include rem-fallback("width", 90);
        @include rem-fallback("height", 90);
    }

    .widget-row  {
        display: table-row;

      & > div{
        display: table-cell;
        float: none;
        vertical-align: middle;
      }

    }


}

.widgets-educationitem {
    @include widgets-educationitem();
}
