html{
  font-size: $font-base-size;
  font-family: 'Montserrat', 'sans-serif';
  font-color: $font-color;
}

*{
  font-size: 1rem;
}

#content-container{
  position : relative;
}

.bold{
  font-weight: bold;
}
.section-header{
    margin-top: 15px;
    margin-bottom: 40px;

    h2{
      text-align: center;
      font-size: 3.4rem;
    }


}

h3{
      font-size: 1.5rem;
}


.category {
  min-height: 600px;
}

/**[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}*/

.vertical-text{
  transform: rotate(-90deg);
  text-align: center;
}
