@mixin sections-infosection(){

  color: white;
  min-height: 600px;
  td.vertical-text{
    font-size: 1.3rem;
    font-weight: bold;
  }

}

.sections-infosection{
  @include sections-infosection();
}
