@mixin sections-infosection() {
    color: white;
    min-height: 600px;


    div.vertical-text{
      width: 200px;
      font-weight: bold;

    }
    .info-table {
        table-layout: fixed;
        margin-right: auto;
        margin-left: auto;
    }
    *{
      word-break: break-all;
    }
}

.sections-infosection {
    @include sections-infosection();
}
