@import '../../var/sections/common';
@import '../../var/mixins/font';

@mixin sections-skillssection(){

  background: $section-color-dark;
  color: white;

  .theme-image{
    margin: 10px 0;
  }

  .widget-skillitem{
    text-align: center;
  }

  .skill-section > div{

        margin-bottom: 5px;
  }

  /* Medium Devices and up*/
   @media only screen and (min-width : 992px) {
     .skill-section > div{
           @include rem-fallback(margin, 30, 0);
     }
   }


  .skill-item-container{
    margin-bottom: 5px;
  }

  .skill-section li {
    margin: 8px 0;
  }

}

.sections-skillssection{
  @include sections-skillssection();
}
