/* line 1, ../sass/sections/common.scss */
body {
  padding-top: 75px;
}

/* line 5, ../sass/sections/common.scss */
.section-header {
  padding-top: 40px;
  margin-top: -40px;
}
/* line 9, ../sass/sections/common.scss */
.section-header h2 {
  text-align: center;
}

/* line 18, ../sass/sections/common.scss */
.category {
  height: 600px;
}

/* line 22, ../sass/sections/common.scss */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
